:root {
  --bg-color-main: #FAF3DD;
  --bg-color-secondary: #FFA69E;
  --color-3: #B8F2E6;
  --color-4: #AED9E0;
  --text-color: #5E6472;
}


.main {
  background-color: var(--bg-color-main);
  color:var(--text-color);

  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  font-family: 'Rubik', sans-serif; 
  font-size: 2.5rem;
}

a {
  color: var(--text-color);
}


.header {
  background-color: var(--bg-color-secondary);
  color: var(--bg-color-main);
  width: 100%;
  padding: 0;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__text{
  flex: 8;

  font-family: "Montserrat";
  font-weight: 500;
}
.header__sub-text {
  flex: 3;

  font-family: "Satisfy";
  font-weight: 300;
}
.header--sticky {
  position: fixed;
  background-color: var(--bg-color-secondary);
  color: var(--bg-color-main);
  width: 100%;
  top: 0;
}


.chunk {
  display: flex;
  flex-direction: column;

  align-items: left;
  justify-content: left;
  font-size: 3rem;
  padding: 1rem;
  padding-top: 3rem;
  margin-top: 3rem;
  padding-left: 3rem;
}
.chunk:nth-child(odd) {
  justify-content: right;
  padding-left: 0;
  padding-right: 3rem;
  text-align: right;
}
.chunk__overview {
  flex: 1;
  font-weight: 700;

  align-items: left;
  justify-content: left;
  justify-self: left;
}
.chunk:nth-child(odd) .chunk__overview {
  text-align: right;
}
.chunk__text {
  flex: 2;
  padding-left: 1rem;
}
.chunk:nth-child(odd) .chunk__text {
  padding-right: 1rem;
}
.chunk__list {
  flex: 1;
}
.chunk__list li {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--color-3);
}
.chunk__list li:nth-child(odd)  {
  background-color: var(--color-4);
}


.footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  width: 100%;
  color: var(--text-color);
}
.footer__contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer__legal {
  display: flex;
  align-items: center;
  justify-content: center;

  display: flex;
  padding: 2px;
  margin: 2px;
}